body{
    background-size: cover;
}
.heading{
    font-size: 27px;
    width: 100%;
    margin: 0px;
}
#input{
    width: 256px;
}
#start{
    font-size: 25px;
    border-radius: 90px;
}
#Number_of_object_detected , #status{
    font-size: 25px;
    border-radius: 100px;
}
canvas{
    border: 2px dashed yellowgreen;
border-radius: 70px;
margin-top: 100px;
box-shadow: 7px 7px 10px whitesmoke;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: green;
    background-color: whitesmoke;
    line-height: 1;
}